body {
  padding: 0;
  margin: 20px;
  background: #000;
}

.container {
  max-width: 760px;
  margin: auto;

 
}

.main-img img,
.imgs img {
  width: 100%;
}

.imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}
@keyframes fadeIn{
  to{
    opacity:1;
  }
}

.fade-in{
  opacity: 0;
  animation :fadeIn .5s ease-in forwards;
}
/*DROPDOENMENU*/
.sem,.subject,.unit,.dcnUnits,.osUnits,.gtUnits{
  display: none;
}

.stream:hover .sem,.sem:hover .subject,.dcn:hover .dcnUnits,.os:hover .osUnits,.gt:hover .gtUnits{
  display: block;
}
.main-ul{
  position: relative;
}

